.main {
  padding: $s-size 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  #post-body {
    width: 450px;
    height: 100px;
    margin-bottom: $s-size;
    outline: none;
  }
  .buttons {
    display: flex;
    button {
      margin: 0 $s-size;
    }
  }
}
