// colors
$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$purple: #8357c5;

// spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;
$xs-size: 0.4rem;
$img-height: 12rem;
$wallet-width-max: 42rem;
$wallet-width-min: 40rem;
$buttons-width: 42rem;
